<div class="container">
    <div class="row">
        <div class="col">
  <a class="card1" href="https://forms.office.com/Pages/ResponsePage.aspx?id=Un7ntvZl7E232Y5F82pTb3UzB68aEelMuevygyp1U7pUQ0RPUlI0WEVUWlFVOUxDWkJOWkwxVzc0Ty4u">
    <h3><img src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1625820138/france_2_wa7ip9.png"></h3>
    <p class="small">Questionnaire en français!</p>
    <div class="go-corner" href="#">
      <div class="go-arrow">
        →
      </div>
    </div>
  </a>
  <div class="col">
    <a class="card1" href="https://forms.office.com/Pages/ResponsePage.aspx?id=Un7ntvZl7E232Y5F82pTb3UzB68aEelMuevygyp1U7pUODhXWlUxN01VOEFUSkg2VVNWVjVHOEJYQi4u">
    <h3><img src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1625820187/united-kingdom_brq79u.png"></h3>
    <p class="small">Questions in English!</p>
    <div class="go-corner" href="https://forms.office.com/Pages/ResponsePage.aspx?id=Un7ntvZl7E232Y5F82pTb3UzB68aEelMuevygyp1U7pUODhXWlUxN01VOEFUSkg2VVNWVjVHOEJYQi4u">
      <div class="go-arrow">
        →
      </div>
    </div>
  </a>
    <div class="col">
    <a class="card1" href="https://forms.office.com/Pages/ResponsePage.aspx?id=Un7ntvZl7E232Y5F82pTb3UzB68aEelMuevygyp1U7pUNUZOODZFUUFHRFBEUEVPVTM4SE1PWElCUy4u">
    <h3><img src="https://res.cloudinary.com/dn6wh4u2h/image/upload/v1625820270/germany_qohyhd.png"></h3>
    <p class="small">Fragebogen auf Deutsch!</p>
    <div class="go-corner" href="https://forms.office.com/Pages/ResponsePage.aspx?id=Un7ntvZl7E232Y5F82pTb3UzB68aEelMuevygyp1U7pUNUZOODZFUUFHRFBEUEVPVTM4SE1PWElCUy4u">
      <div class="go-arrow">
        →
      </div>
    </div>
  </a>
</div>


<div class="king">
<div>Sticker erstellt von <a href="https://www.flaticon.com/de/autoren/stickers" title="Stickers">Stickers</a> </br>
from <a href="https://www.flaticon.com/de/" title="Flaticon">www.flaticon.com</a></div>
<div>Websites made by <a href="https://www.shivflex-services.com/" title="Flaticon">www.shivflex-services.com</a></div>
</div>